<p *ngIf="test">{{title}}</p>

<div class = "parent">
  <h1>Parent Component</h1>

  <div class = "numbers">
    <p *ngFor = "let n of numbers">{{n}}</p>
  </div>

  <div class = "homes">
    <p *ngFor = "let h of home">{{h}}</p>
  </div>

  <!-- [home]="currentHome" sending value of parent component to our child component-->
  <app-home class = "home"
            [hamdija]="title"
            [home]="currentHome"
            (newHouse)="addTypeOfHouse($event)"
            (hamdija2)="activate($event)"
            (newNumberEvent)="addNumber($event)">
  </app-home>

</div>




