.userInputContainer {
  display: block;
}
.userInput{
  display:inline-block;
  width:auto;
  border:1px solid blue;
  background:lightgray;
  padding:5px;
  margin:5px;
}

input:hover {
  background-color: lightyellow;
}

input{
  width: 100%;
  box-sizing: border-box;

}

label{
  font-size:17px;
  color:black;

}

button{
  background-color: lightgreen;
  font-size: 15px;
  width: 100%;
}


