<div class ="child">
  <h2>Child Component</h2>

  <button (click) = "addNewNumber()">Add number to array</button>

  <p style ="text-align:center">Home is: <strong>{{home}}</strong></p>
  <label for="house input">Add a type of home: </label>
  <input type ="text" id ="house input" #newHouse>
  <button (click) = "addNewType(newHouse.value)">Add</button>

  <br><br><br>
  <div *ngFor = "let e of tempArray; let i = index">
    {{e}}
  </div>


  <button (click) ="insertNumber()">Insert random number</button><br><br>

  <button (click) = "mapMethod()">Show mapped array</button>
  <p>{{z}}</p>

  <button (click) = "findMethod()">Show specified element</button>
  <p>{{array3}}</p>

  <button class =" bluebutton" (click) = "filterMethod()">Show filtered array</button>
  <p>{{y}}</p>

  <button class =" bluebutton" (click) = "sumOfElements()">Sum of array elements</button>
  <p>{{total}}</p>

  <button class =" bluebutton" (click) = "sortElements()">Sorting array alphabetically</button>
  <p>{{x}}</p>

  <button class =" bluebutton" (click) = "sortNumbersAscending()">Show ascending order</button>
  <p>{{t}}</p>

  <button class =" bluebutton" (click) = "forEachFunction()">Sum using forEach()</button>
  <p>{{totalSum2}}</p>
</div>




