.bluebutton{
  background-color:lightgreen;
  width:150px;
  height:70px;
}

.child{
  background-color:lightblue;
  border:1px solid gray;
  margin:5px;
  padding:5px;
}

h2{
  text-align:center;
  color:black;
}

